@tailwind base;
@tailwind components;
@tailwind utilities;

/* ______________________________________________________________________ *\
   Import Local Fonts
\* ______________________________________________________________________ */

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("../assets/fonts/Poppins-Light.ttf") format("truetype");
}

/* ______________________________________________________________________ *\
   Base
\* ______________________________________________________________________ */

@layer base {
  body {
    color: theme("colors.default");
    font-family: theme("fontFamily.sans");
    font-size: theme("fontSize.sm");
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 80px 0 32px 0;
    margin-inline: clamp(24px, 7.5vw, 192px);

    display: flex;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: theme("screens.md")) {
      padding-top: 32px;
    }

    @media screen and (min-width: theme("screens.xl")) {
      margin-inline: clamp(192px, 7.5vw, 288px);
    }

    @media screen and (min-width: theme("screens.2xl")) {
      margin-inline: clamp(288px, 20vw, 576px);
    }
  }

  h1 {
    font-size: theme("fontSize.2xl");
    font-family: theme("fontFamily.sans");
    font-weight: 600;
  }

  h2 {
    font-size: theme("fontSize.xl");
    font-family: theme("fontFamily.sans");
    font-weight: 600;
  }

  h3 {
    font-size: theme("fontSize.lg");
    font-family: theme("fontFamily.sans");
    font-weight: 600;
  }

  h4 {
    font-size: theme("fontSize.base");
    font-family: theme("fontFamily.sans");
    font-weight: 600;
  }

  p {
    font-size: theme("fontSize.sm");
    font-family: theme("fontFamily.sans");
  }
}

/* ______________________________________________________________________ *\
   Components
\* ______________________________________________________________________ */
@layer components {
  /* Start Connect component  */
  .signup-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }

  @media (max-width: 768px) {
    .signup-container {
      height: 100%;
      width: 100%;
    }
  }

  .signin-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    left: 0;
    width: 50%;
    z-index: 2;
  }

  @media (max-width: 768px) {
    .signin-container {
      height: 50%;
      width: 100%;
    }
  }

  .connect-ghostButton {
    font-family: theme("fontFamily.sans");
    font-size: theme("fontSize.base");
    border-radius: 25px;
    padding: 12px 45px;
    background: theme("colors.secondary");
    color: theme("colors.neutralLight");
    &:hover {
      background-color: rgba(230, 36, 96, 0.8);
    }
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 10;

    @media (max-width: 768px) {
      top: 50%;
      left: 0;
      height: 100%;
      width: 100%;
      transform: translateY(0);
    }
  }

  .overlay {
    background: theme("colors.primary");
    background: -webkit-linear-gradient(to bottom, #fff, #ffff, #00acb0);
    background: linear-gradient(to bottom, #fff, #fff, #00acb0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;

    @media (max-width: 768px) {
      background: -webkit-linear-gradient(to bottom, #fff, #00acb0);
      background: linear-gradient(to bottom, #fff, #00acb0);
      left: 0;
      height: 100%;
      width: 100%;
      transform: translateY(0);
    }
  }

  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;

    @media (max-width: 768px) {
      height: 50%;
      width: 100%;
      transform: translateY(0);
    }
  }

  .leftoverlay-panel {
    @extend .overlay-panel;
    transform: translateX(-20%);

    @media (max-width: 768px) {
      transform: translateY(-120%);
    }
  }

  .rightoverlay-panel {
    @extend .overlay-panel;
    right: 0;
    transform: translateX(0);

    @media (max-width: 768px) {
      transform: translateY(0%);
    }
  }
  /* End Connect component  */
}

@layer utilities {
  /* BugerMenu */
  .burger {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  nav label span {
    background: theme("colors.default");
    border-radius: 10px;
    height: 7px;
    margin: 4px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  .burgerline:nth-of-type(1) {
    width: 50%;
  }

  .burgerline:nth-of-type(2) {
    width: 100%;
  }

  .burgerline:nth-of-type(3) {
    width: 75%;
  }

  nav input[type="checkbox"] {
    display: none;
  }

  nav input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(6px, 0px);
  }

  nav input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
  }

  nav input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(18px, -9px) rotatez(45deg);
  }

  .menu {
    transition: transform 0.4s ease-out;
    z-index: 5;
  }

  .active {
    transform: translate(0);
  }
}

.ant-table-filter-dropdown-btns button:nth-of-type(2) {
  background: theme("colors.primary");
}
